html, body{
  font-size:1em;
  color: #e8fffd;
  background-color: #094256;
  overflow-y: auto;
}

a {
  color: #01a089;
}
a:hover {
  color: #00d1b2;
}

#nav {
  width: 100%;
  margin: auto;
}
#nav .nav {
  width: 100%;
  margin: auto;
}
.nav {
  background-color: #022a38;
  color: white;
}
.nav-left {
  padding-left: 7px;
}
.nav-right {
  padding-right: 15px;
}
.nav-menu a {
  transition: all 0.6s ease;
}
.fixed-nav {
  position: fixed;
  box-shadow: 0 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: inherit;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.section {
  min-height: 100vh;
  background-color: inherit;
  overflow-y: hidden;
}
.section-1 {
    min-height: 93vh;
    justify-content: center;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.v-middle {
  display: flex;
  align-items: center;
}

.title {
  color: white;
}
.subtitle {
  color: white;
}

#about-container {
}
.avatar {
  width: 30vw;
  max-width: 250px;
  display: flex;
  margin: auto;
}
.about-title {
  justify-content: center;
  padding-bottom: 0.5em;
}
#about-title{
  font-size: 14vw;
  color: #00c49d;
}
.about-desc {
  margin: auto;
  width: 80vw;
  background:rgba(0,0,0,0.6);
  max-width: 700px;
}
.intro {
	text-align: justify;
	margin: auto 0;
}
.highlight {
  color: #04d3c7;
}

.projects {
  min-height: inherit;
}
.section-title {
  padding-left: 0.1em;
  color: #01bc95;
  font-weight: 400;
}
.project-title {
  padding-left: 0.3em;
  color: #009677;
  font-weight: 400;
}

.project-apps {
  margin: auto;
}

.overlay {
  opacity: 0;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
}
.card {
  border: 1px solid black;
  box-shadow: 6px 5px 2px black;
  max-width: 480px;
  background-color: #002230;
  margin: auto;
  margin-bottom: 30px;
}
.card-image {
  cursor: pointer;
}
.card-image:hover .overlay {
  opacity: 0.7;
}

.card-content, .card-footer {
  background-color: inherit;
}
.content {
  color: white;
}

.work-elem {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}
.work-logo {
  margin: 10px auto;
}
#long-logo {
  width: 60%;
  min-width: 160px;
}
.work-content {
  text-align: justify;
}

#top, #resume-button {
  display: flex;
  justify-content: center;
}
#top a {
  margin-top: 55px;
  box-shadow: 3px 5px 2px black;
  transition: all 0.2s linear;
}
#top a:hover{
  background-color: #d2d8e0;
  box-shadow: none;
  -webkit-transform: translate(0, 4px);
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
